---
import Header from './Header.astro';
---

<div >
	<Header/>
	<h1>Welcome to the Home Page</h1>
	<div class="content">
		<p>This is the home page of our Astro project.</p>
		<p>Use the navigation links above to explore different sections.</p>
	</div>
</div>

<style>
	.content{
		height: 1000px;
	}
</style>
