---
import Layout from '../layouts/Layout.astro';
import ExternalLink from '../components/ExternalLink.astro';
---

<Layout>
<div id="page-wrapper">
  <section id="start">
    <section id="body-wrapper" class="section">
      <section class="container grid-lg">
        <h1>Escuela de Invierno en Lenguajes y Aplicaciones de Informática</h1>
        <p>La EILAI es una iniciativa académica orientada al fortalecimiento de capacidades técnicas y científicas en estudiantes y profesionales del área de Informática. A través de cursos cortos, talleres especializados, charlas magistrales y un concurso de proyectos de grado, EILAI promueve la formación avanzada en tecnologías emergentes, lenguajes modernos de programación e investigación aplicada. Con un enfoque colaborativo entre academia e industria, y bajo un formato híbrido, la Escuela busca consolidar una comunidad comprometida con la innovación, el desarrollo tecnológico y la independencia digital en Bolivia.</p>
        
        <h2>Registro e inscripciones</h2>
        <p>Los interesados en La Escuela de Invierno deben realizar un registro previo a los cursos, talleres, y sesiones en los que participará, para luego realizar el pago y así confirmar su inscripción.</p>
        <ul>
          <li>Llenar formulario de preinscripción del 15 de junio al 30 de junio. <ExternalLink href="https://forms.gle/fk59q8hnf2SiEETu6" text="Formulario" /></ExternalLink></li>
          <li>Realizar el pago y enviar el comprobante de pago. Las personas registradas y aceptadas de acuerdo a cupos recibirán un correo electrónico para proceder al pago a partir del 20 de junio.</li>
        </ul>
        
        <h2>Logística</h2>
        <ul>
          <li>Lugar: Salones del Centro MEMI</li>
          <li>Fechas: 7 de julio – 11 de julio de 2025</li>
        </ul>
        
        <h2>Programa</h2>
        <p>Se publicará pronto!!!</p>
        
        <h2>Contacto</h2>
        <ul>
          <li>Secretaría Centro MEMI, FCyT, UMSS</li>
          <li>Correo electrónico: <a href="mailto:v.costas@umss.edu">Vladimir Costas</a></li>
        </ul>
      </section>
    </section>
  </section>
</div>
</Layout>